/* Enterprise business color palette */
:root {
    --primary-color: #ff6f61;
    /* Coral red */
    --secondary-color: #ff8c87;
    /* Dark teal */
    --text-color: #333;
    --border-color: #ddd;
}

.cartContainer {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.cartHeader {
    background-color: var(--primary-color);
    padding: 20px;
    color: #fff;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
}

.cartContentHeaderItem {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.cartContentBody {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
}

.cartContentBodyItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.cartContentBodyItemImg img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
}

.cartContentBodyItemName,
.cartContentBodyItemPrice,
.cartContentBodyItemQuantity,
.cartContentBodyItemSubtotal {
    flex: 1;
    text-align: center;
}

.cartTotal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cartTotal p {
    margin: 0;
    padding-top: 8px;
    font-size: 1.2em;
}

.cartTotal span {
    font-weight: bold;
    margin-left: 5px;
}

.checkoutButton {
    background-color: var(--primary-color);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

.checkoutButton:hover{
    background-color: var(--secondary-color);
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Colocado encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Anchura completa */
    height: 100%; /* Altura completa */
    overflow: auto; /* Activar scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ancho del modal */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el formulario de login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 10px;
}

.login-form h2 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

button {
    padding: 12px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
}

.signup-link {
    background-color: var(--primary-color);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.singup-link:hover{
    background-color: var(--secondary-color);
}

.forgot-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
}

.forgot-link:hover {
    color: var(--secondary-color);
}

/* Responsive styles */
@media (max-width: 768px) {
    .cartContent,
    .cartContentBody {
        margin: 10px;
        padding: 5px;
    }

    .cartTotal {
        flex-direction: column;
    }

    .checkoutButton {
        margin-left: 0;
        margin-top: 10px;
    }
}
